.dropdown {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.dropdownLabelContainer {
  width: fit-content;
  height: 50px;
  border: none;
  border-radius: 8px;
  padding: 16px;
  background-color: var(--color-primary-blue);
  box-shadow: 0px 1px 3px 1px #00000026;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease;
}

.dropdownLabelContainer:focus {
  outline: none;
}

.dropdownLabelContainer:hover {
  cursor: pointer;
  background-color: var(--color-tertiary-blue);
}

.dropdownLabel {
  display: flex;
  justify-content: center;
  font-weight: bold;
  width: 170px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px 16px;
  background-color: var(--color-neutral-white);
  box-shadow: 0px 1px 3px 1px #00000026;
  border-radius: 8px;
  z-index: 100;
}

.dropdownOption {
  padding: 6px 8px;
  border-radius: 6px;
}

.dropdownOption:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: var(--color-neutral-light);
}

.selected {
  background-color: var(--color-primary-blue);
  color: var(--color-neutral-white);
}
.selected:hover {
  background-color: var(--color-tertiary-blue);
}
