.dropdown {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdown-label {
    width: fit-content;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding: 12px;
    background-color: var(--color-primary-blue);
    box-shadow: 0px 1px 3px 1px #00000026;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.dropdown-label:focus {
    outline: none;
}

.dropdown-label:hover {
    cursor: pointer;
}

.label {
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 145px;
}

.icon-label {
    font-size: 50px;
}

.dropdown-menu {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 16px;
    background-color: var(--color-neutral-white);
    box-shadow: 0px 1px 3px 1px #00000026;
    border-radius: 8px;
}

.dropdown-option:hover {
    cursor: pointer;
    text-decoration: underline;
}

