.container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
}

.label {
    margin: 0 2px;
}

.input {
    color: var(--color-neutral-black);
    height: 42px;
    padding: 4px 16px;
    border: 2px solid var(--color-primary-blue);
    border-radius: 8px;
}

.input:focus {
    box-shadow: 0px 1px 3px 1px #00000026;
    outline: none;
}

.input.error {
    border: 2px solid var(--color-support-red);
}

.input:disabled {
    color: var(--color-neutral-gray);
    border: 2px solid var(--color-neutral-gray);
    cursor: not-allowed;
}

.error-message {
    margin: 0 2px;
    color: var(--color-support-red);
    
}



