.parceiroCard {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.parceiroCard img {
  max-height: 140px;
  max-width: 140px;
  width: auto;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

}



