.cardPagamento{
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-neutral-white);
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.cardPagamento:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.24);
}

.cardHeader{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.iconeContainer{
  font-size: 32px;
}

.chaveContainer{
  align-self: flex-start;
   white-space: normal;
  overflow-wrap: break-word;
}
.conteudoContainer{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.qrCodeContainer{
  display: flex;
  justify-content: center;
}

.qrCodeImage{
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 12px;
}


.copiaColarContainer{
  align-self: center;
}

.botaoCopiar{
  min-width: 300px;
  border: 2px solid var(--color-neutral-white);
  border-radius: 4px;
  padding:  12px;
  color: var(--color-neutral-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.botaoCopiar:hover {
  background-color: rgba(250, 249, 250, 0.3);
}

@media (max-width: 480px) {
  .qrCodeImage {
    max-width: 170px;
  }

  .botaoCopiar {
    padding: 16px 8px;
    min-width: 200px;
  }

  .cardPagamento {
    padding: 16px 12px;
  }
  .metodoKey{
    font-size: var(--font-body2-size);
    line-height: var(--font-body2-line-height);
  }
}
