.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.loadMoreButton{
  margin: 2rem auto;
  display: block;
  cursor: pointer;
  color: var(--color-primary-yellow);
  text-align: center;
}

@media (max-width: 1200px) {
  .gridContainer {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px){
   .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px){
  .gridContainer {
    gap: 0.50rem;
  }
}

@media (max-width: 900px){
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 600px){
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}