.button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  font-family: var(--font-button-family);
  font-weight: var(--font-button-weight);
  font-size: var(--font-button-size);
  line-height: var(--font-button-line-height);
  letter-spacing: var(--font-button-letter-spacing);
}

.primary {
  background-color: var(--color-primary-blue);
  color: var(--color-neutral-white);
}
.primary:hover {
  background-color: var(--color-tertiary-blue);
}

.primaryOutline {
  background-color: transparent;
  border: 2px solid var(--color-primary-blue);
  color: var(--color-primary-blue);
}
.primaryOutline:hover {
  background-color: var(--color-primary-blue);
  color: var(--color-neutral-white);
}

.secondary {
  background-color: var(--color-primary-yellow);
  color: var(--color-neutral-white);
}
.secondary:hover {
  background-color: var(--color-tertiary-yellow);
}

.secondaryOutline {
  background-color: transparent;
  border: 2px solid var(--color-primary-yellow);
  color: var(--color-primary-yellow);
}
.secondaryOutline:hover {
  background-color: var(--color-primary-yellow);
  color: var(--color-neutral-white);
}

.danger {
  background-color: var(--color-support-red);
  color: var(--color-neutral-white);
}
.danger:hover {
  background-color: var(--color-neutral-gray);
}

.small {
  padding: 8px 12px;
  min-width: 64px;
}
.medium {
  padding: 12px 24px;
  min-width: 120px;
}
.large {
  padding: 12px 24px;
  min-width: 234px;
}

.button:disabled {
  background-color: var(--color-neutral-gray);
  cursor: not-allowed;
}

.icon {
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
