.AdoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  max-width: 1200px;
  padding-inline: clamp(1rem, 4vw, 2rem);
}
.headerContainer {
  margin-top: 4rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 700px;
}

.headerLink{
  color: var(--color-primary-blue);
}
.comoAdotarSection {
  padding-inline: clamp(1rem, 4vw, 2rem);
  width: 100%;
  margin-inline: auto;
}

.comoAdotarContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2rem, 4vw, 4rem);
  width: 100%;
}

.comoAdotarTitle, .gatosParaAdocaoTitle{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.comoAdotarSteps{
  padding-inline: clamp(1rem, 4vw, 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(2rem, 4vw, 4.5rem);
  flex-wrap: wrap;
}

.step{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 370px;
  text-align: center;
  
}

.stepTitle{
  color: var(--color-primary-yellow); 
}
.step:nth-child(2) .stepTitle{
  color: var(--color-primary-blue);
}

.gatosParaAdocaoSection {
  padding-inline: clamp(1rem, 4vw, 2rem);
  width: 100%;
  margin-inline: auto;
  margin-bottom: 4rem;
}

.gatosParaAdocaoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2rem, 4vw, 4rem);
  width: 100%;
}