.publicContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  max-width: 1200px;
}

.paddingInlineClamp{
  padding-inline: clamp(1rem, 4vw, 2rem);
}

.sectionMargin{
  margin-top: clamp(4rem, 5vw, 6rem);
}

.lastSectionMargin{
  margin-bottom: clamp(4rem, 5vw, 6rem);
}



.animatedFadeIn {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

