.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  min-width: 400px;
  max-width: 1200px;
  max-width: 90vw; 
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-neutral-white);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 34px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@media (max-width: 400px) {
  .container {
    min-width: 100%;
    padding: 0.5rem;
    border-radius: 16px;
  }
}