.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.container-image {
    width: 250px;
    height: 250px;
    border: 2px solid var(--color-primary-blue);
    box-shadow: 0px 1px 3px 1px #00000026;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-image.error {
    border: 2px solid var(--color-support-red);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.icon-image {
    font-size: 120px;
    color: var(--color-primary-blue);
}

.icon-image.error {
    color: var(--color-support-red);
}

.uploader {
    display: none;
}

.btn {
    width: 173;
    height: 52;
    border: 2px solid var(--color-primary-blue);
    border-radius: 8px;
    padding: 16px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.error {
    border: 2px solid var(--color-support-red);
}

.icon-btn {
    font-size: 20px;
}

