.comoAjudarContainer {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  align-items: center;
  max-width: 1200px;
  padding-inline: clamp(1rem, 4vw, 2rem);
}

.headerContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  margin-top: 4rem;
  max-width: 700px;
}

.headerContent p{
  text-align: center;
  max-width: 600px;
}

.sejaVoluntarioSection{
 padding-inline: clamp(1rem, 4vw, 2rem);
  width: 100%;
  margin-inline: auto;
}

.sejaVoluntarioContainer {
  grid-column: 1;
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: 1fr auto;
  column-gap: clamp(2rem, 6vw, 14rem);
  row-gap: 2rem;
}

.sejaVoluntarioContent{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
}

.sejaVoluntarioHeader{
  max-width: 400px;
}

.listTitle{
  font-weight: 600;
}

.comoAjudarList, .sejaVoluntarioDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sejaVoluntarioDescription p{
  max-width: 400px;
}

.comoAjudarList{
  gap: 0.8rem;
}

.listItem{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.listItem > *:first-child {
  flex-shrink: 0;
}

.sejaVoluntarioImgContainer{
  grid-column: 2;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;      
  flex-shrink: 1; 
  max-width:  500px;
  position: relative;
}

.voluntarioPaws{
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 150px;
  height: 150px;
  opacity: 0.7;
}


.sejaLarTemporarioSection{
  padding-inline: clamp(1rem, 4vw, 2rem);
  width: 100%;
  margin-inline: auto;
}

.sejaLarTemporarioContainer{ 
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.sejaLarTemporarioContent{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  max-width: 500px;
}

.sejaLarTemporarioLink{
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-primary-yellow);
}

.itensBasicosText{
  font-style: italic;
  font-weight: 600;
  margin-top: 0.75rem;
  max-width: 400px;
}

.outrasFormasAjudarSection{
  width: 100%;
  margin-inline: auto;
}

.outrasFormasAjudarContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.doacaoItemsContainer{
  display: flex;
  flex-direction: column;
  max-width: 450px;
  gap: 1rem;
}

.medicamentosAccordionList{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: var(--color-primary-blue);
  border-radius: 8px;
  padding: 1rem;
  position: relative;
}

.accordionTitle{
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  color: var(--color-quaternary-blue);
  padding: 0.4rem;
}
.accordionContent {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  background-color: var(--color-primary-blue);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease,opacity 0.3s ease;
}


.open {
  max-height: 500px;
  opacity: 1;
}

.iconOpen {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.medicamentosList li{
  margin-left: 1.5rem;
  list-style-type: disc;

}

.apoioFinanceiroContainer{
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  background-color: #EEF1F4;
  max-width: clamp(300px, 55vw, 520px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}

.apoioFinanceiroHeader{
  text-align: center;
  padding: 0.8rem;
}

.cardsApoioFinanceiro{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  max-width: 100%;
}

.apoioFinanceiroDescription{
  text-align: center;
  padding: 0.8rem;
  font-style: italic;
}
.entregasSection{
  padding-inline: clamp(1rem, 4vw, 2rem);
  margin-bottom: 6rem;
  width: 100%;
  margin-inline: auto;
}
.entregasContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: 100%;
}

.entregaPresencialText, .pontosColetaText{
  text-align: justify;
  color: var(--color-quaternary-blue);
  font-weight: 600;
  max-width: 750px;
  white-space: normal;
  hyphens: auto;
  overflow-wrap: normal;
  word-break: normal;
}
.sejaLarTemporarioCarrosel{
  margin-top: 2rem;
  max-width: 100%;
}
.instagramLink{
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}
.pontosColeta span{
  font-style: italic;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .doacaoItemsContainer{
    max-width: 400px;
  }
  .apoioFinanceiroContainer{
    max-width: 450px;
  }
  
}
@media (max-width: 992px) {
  .sejaVoluntarioImage{
    max-width:  400px;
  }
  .outrasFormasAjudarContainer {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .doacaoItemsContainer, .apoioFinanceiroContainer{
    max-width: 550px
  }

}
@media (max-width: 900px) {
  .sejaVoluntarioContainer {
    align-items: center;
  }

  .sejaVoluntarioContent{
    max-width: 100%;
  }

  .sejaVoluntarioImage{
    display: none;
  }
  
}

@media (max-width: 768px) {

  .headerContent h1{
    text-align: center;
  }
  


}
@media (max-width: 480px) {
  .entregaPresencialText, .pontosColetaText{
    width: 100%;
  }

  .outrasFormasAjudarContainer {
    align-items: center;
  }
}
@media (max-width: 360px) {
  .sejaVoluntarioHeader, .sejaLarTemporarioContent{
    text-align: center;
  }
  
}