.comoAjudarContainer {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  align-items: center;
  max-width: 1200px;
  padding-inline: clamp(1rem, 4vw, 2rem);
}

.headerContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  margin-top: 4rem;
  max-width: 700px;
}

.headerContent p{
  text-align: center;
  max-width: 600px;
}

.sejaVoluntarioSection{
 padding-inline: clamp(1rem, 4vw, 2rem);
  width: 100%;
  margin-inline: auto;
}

.sejaVoluntarioContainer {
  display: flex;
  justify-content: space-between;
  gap: clamp(2rem, 6vw, 14rem);
  width: 100%;
  align-items: center;
}

.sejaVoluntarioContent{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
}

.sejaVoluntarioHeader{
  max-width: 400px;
}

.listTitle{
  font-weight: 600;
}

.comoAjudarList, .sejaVoluntarioDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comoAjudarList{
  gap: 0.8rem;
}

.listItem{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sejaVoluntarioImage{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;      
  flex-shrink: 1; 
}

.sejaLarTemporarioSection{
  padding-inline: clamp(1rem, 4vw, 2rem);
  width: 100%;
  margin-inline: auto;
}

.sejaLarTemporarioContainer{ 
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vw, 6rem);
  align-items: flex-start;
}

.sejaLarTemporarioContent{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  max-width: 500px;
}

.sejaLarTemporarioLink{
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-primary-yellow);
}

.pontosColetaText{
  font-style: italic;
  font-weight: 600;
  margin-top: 1rem;
  max-width: 400px;
}

.outrasFormasAjudarSection{
  padding-inline: clamp(1rem, 4vw, 2rem);
  width: 100%;
  margin-inline: auto;
}

.outrasFormasAjudarContainer {
  display: flex;
  justify-content: space-around;
  gap: clamp(2rem, 6vw, 8rem);
}

.doacaoItemsContainer{
  display: flex;
  flex-direction: column;
  max-width: 460px;
  gap: 1rem;
}

.medicamentosAccordionList{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: var(--color-primary-blue);
  border-radius: 8px;
  padding: 1rem;
}

.accordionTitle{
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  color: var(--color-quaternary-blue);
  padding: 0.5rem;
}
.accordionContent {
  margin-top: 1rem;
  max-height: 0;
  overflow: hidden;    
  transition: max-height 0.3s ease;
}

.open {
  max-height: 500px;    
}

.iconOpen {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.medicamentosList li{
  margin-left: 1.5rem;
  list-style-type: disc;

}

.apoioFinanceiroContainer{
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  background-color: #EEF1F4;
  max-width: clamp(300px, 55vw, 520px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}

.apoioFinanceiroHeader{
  text-align: center;
  padding: 0.8rem;
}

.cardsApoioFinanceiro{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  max-width: 100%;
}

.apoioFinanceiroDescription{
  text-align: center;
  padding: 0.8rem;
  font-style: italic;
}
.entregasSection{
  padding-inline: clamp(1rem, 4vw, 2rem);
  margin-bottom: 6rem;
  width: 100%;
  margin-inline: auto;
}
.entregasContainer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: 100%;
}

.entregaPresencialText{
  text-align: justify;
  color: var(--color-quaternary-blue);
  font-weight: 600;
  max-width: 750px;
}


@media (max-width: 992px) {
  .outrasFormasAjudarContainer {
    flex-direction: column-reverse;
    /* melhorar alinhamento */
  }
}
@media (max-width: 900px) {
  .sejaVoluntarioContainer {
    align-items: center;
  }

  .sejaVoluntarioContent{
    max-width: 100%;
  }

  .sejaVoluntarioImage{
    display: none;
  }
  
}

@media (max-width: 768px) {

  .headerContent h1{
    text-align: center;
  }

}