.footerWrapper{
  position: relative;
  width: 100%;
  margin-top: 18rem;
}
.footerVector {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.footerPaws{
  position: absolute;
  top: -220px;
  right: 20px;
  width: 70px;
  height: 70px;
}
.footerBackground {
  background-color: var(--color-primary-yellow);
  color: var(--color-neutral-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.footerMain{
  width: 100%;
  max-width: 1220px;
  padding: 2rem 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

.about{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-width: 440px;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.socialMedia{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.redesSociasLink{
  background-color: var(--color-neutral-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
}

.footerDivider{
  width: 100%;
  height: 1px;
  background-color: var(--color-neutral-black);
}

.helpSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.helpList{
  padding-left: 1rem;
}
.helpListItem{
  list-style: disc;
}
.donationLinks{
  display: flex;
  gap: 0.5rem;
}

.donationLink{
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}
.locationSection{
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  max-width: 300px;
}

.locationHeader{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer{
  color: var(--color-neutral-black);
  padding: 1rem 0;
}

.footer p, .links h3,  .links p, .helpSection h3{
 font-weight: 600;
}

@media (max-width: 1250px) {
  .footerVector {
    top: -150px;
  }
  .footerPaws{
    top: -170px;
  }
}

@media (max-width: 992px) {
  .footerWrapper{
  margin-top: 10rem;
}
  .footerVector {
    top: -100px;
  }
  .footerPaws{
    top: -120px;
  }
}

@media (max-width: 900px) {
  .about p, .locationSection p{
    font-family: var(--font-body1-family);
    font-size: var(--font-body1-size);
    line-height: var(--font-body1-line-height);
    letter-spacing: var(--font-body1-letter-spacing);
  }

  .footerMain{
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .footerVector {
    top: -90px;
  }
  .footerPaws{
    top: -110px;
  }
  .footerMain{
    flex-direction: column;
    gap: 3rem;
    align-items: start;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  .helpSection{
    min-width: 0;
  }


}

@media (max-width: 600px) {
  .footerVector {
    top: -70px;
  }
  .footerPaws{
    top: -90px;
  }
}

@media (max-width: 448px) {
  .footerVector {
    top: -40px;
  }
  .footerPaws{
    top: -70px;
  }
}

@media (max-width: 420px) {
  .footer{
    text-align: center
  };
}
