.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltipText {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: var(--color-neutral-black);
  color: var(--color-neutral-white);
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 9999;
  transition: opacity .2s ease;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.top .tooltipText {
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
}

.right .tooltipText {
  top: 50%;
  left: calc(100% + 8px);
  transform: translateY(-50%);
}

.left .tooltipText {
  top: 50%;
  right: calc(100% + 8px);
  transform: translateY(-50%);
}
