*{
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-neutral-black);
  background: var(--color-neutral-white);
  font-family: var(--font-body1-family);
  font-weight: var(--font-body1-weight);
  font-size: var(--font-body1-size);
  line-height: var(--font-body1-line-height);
  letter-spacing: var(--font-body1-letter-spacing);
}

h1,h2,h3,h4,p{
  margin: 0;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
  -webkit-appearance: none; 
  -moz-appearance: none;  
  appearance: none;    
}

button:focus {
  outline: none;
}
