.objetivosContainer {
  display: flex;
  gap: 1.25rem;
  padding: 0 0.75rem;
  justify-content: center;
  width: 100%;
}
.objetivoIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;

}

.iconNumber {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-primary-yellow);
  color: var(--color-neutral-white);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.objetivoContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  justify-content: center;
  max-width: 400px;
}

@media (max-width: 992px) {
  .objetivoContent {
    max-width: 250px;
  }
}
@media (max-width: 768px) {

  .objetivosContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .objetivoContent {
    max-width: 500px;
  }
}